@import '@/app/styles/palette';
.button{
     border: 1px solid rgb(182, 182, 182);
     border-radius: 7px;
     display: flex;
     padding: 7px;
     transition: background-color 0.2s;
}
.button:hover{
     background-color: rgba(229, 229, 229, 0.319);
}