$color-primary-100:#c1dff1;
$color-primary-200:#9dcce9;
$color-primary-300:#7db8de;
$color-primary-400:#66a8d8;
$color-primary-500:#7DB8DE;
$color-primary-600:#4c8dc6;
$color-primary-700:#427cb4;
$color-primary-800:#3a6ba2;
$color-primary-900:#2C4F82;


$color-secondary-100:#fde9b1;
$color-secondary-200:#fcdb7f;
$color-secondary-300:#face4c;
$color-secondary-400:#f9c325;
$color-secondary-500:#DCB341;
$color-secondary-600:#f8ab00;
$color-secondary-700:#f79800;
$color-secondary-800:#f78700;
$color-secondary-900:#f76800;


$color-gray-0: #ffffff;
$color-gray-100: #ededed;
$color-gray-200: #cbcacb;
$color-gray-300: #99979a;
$color-gray-400: #79777a;
$color-gray-500: #5b585c;
$color-gray-600: #413f42;
$color-gray-700: #29282a;
$color-gray-800: #131214;
$color-gray-900: #030303;
