.projectsContent{
     padding: 5rem 1rem;
     max-width: 110rem;
     margin: 0 auto;
   }
.projectsContent{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
     justify-items: center;
     gap: 1.5rem;
}
.cardProject{
     width: 100%;
     max-width: 32rem;
}
.imgContent{
     display: inline-block;
     display: flex;
     justify-content: center;
}
.img {
     max-width: 100%;
     display: block;
}