.header{
     background-color: #4E4E4E;
     // background-color: red;
     color: #fff;
     padding: 0 2rem;
}
.contentHeader{
     max-width: 80rem;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
}


.navList{
     display: flex;
     gap:2rem;

}

.navLink{
     padding: 1rem .5rem;
}



